# Editor Config: https://editorconfig.org/

root = true

[*]
# U don't care about the tabs vs space war and just wan
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
